@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
body {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(11, 6, 48);
  width: 1920px;
}
* {
  margin: 0;
  padding: 0;
}
.black_c {
  color: #000;
}
.content__box section {
  width: 1428px;
}
h1,
h2,
h3,
p,
span,
button,
a {
  color: #ffffff;
}
h3 {
  font-size: 64px;
  font-weight: bold;
  line-height: 130%;
  margin-bottom: 50px;
}
/*  */
.hero {
  width: 1148px;
  height: 452px;
  margin-bottom: 161px;
}
.hero h1 {
  font-size: 120px;
  font-weight: bold;
  line-height: 120%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-bottom: 15px;
}
.hero p {
  font-size: 32px;
  font-weight: bold;
  line-height: 150%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 41px;
}
.hero button {
  font-size: 16px;
  line-height: 104%;
  width: 207px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(45deg, #0370e6, #18abfd, #48f4d8);
}
/*  */
.popular__events {
  position: relative;
  height: 805px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 108px;
}
.see__all {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  right: 0;
  top: 41px;
  font-size: 14.52px;
  line-height: 104%;
  width: 126px;
  height: 52px;
  border-radius: 49.5px;
  border: 1px solid #4d4d4d;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.see__all p {
  margin-right: 13px;
}
.arrow__right {
  width: 19px;
  height: 10px;
}
.popular__events__img {
  width: 100%;
  height: 640px;
}
.video__box {
  position: relative;
}
.play__ico {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*  */
.ticketym__in__counts {
  height: 810px;
  margin-bottom: 120px;
  position: relative;
}
.ticketym__in__counts > div {
  position: absolute;
  border-radius: 31px;
  box-sizing: border-box;
}
.d_t_1 {
  left: 0;
  width: 689px;
  height: 677px;
  background-image: url("../img/Group782.png");
  background-repeat: no-repeat;
  background-position: top 24px right 0;
  background-color: #1c2e36;
  padding: 62px 0 0 64px;
}
.d_t_2 {
  right: 0;
  width: 703px;
  height: 322px;
  background-color: #35232a;
  padding: 48px 0 0 60px;
}
.d_t_3 {
  bottom: 0;
  right: 368px;
  width: 335px;
  height: 325px;
  background-color: #2717df;
  padding: 37px 0 0 60px;
}
.d_t_4 {
  right: 0;
  bottom: 0;
  width: 335px;
  height: 325px;
  background-color: #fd5959;
  padding: 37px 0 0 56px;
}
.we__sold {
  font-size: 56px;
  font-weight: normal;
  line-height: 120%;
  height: 51px;
  margin-bottom: 245px;
}
.counts__name {
  font-size: 40px;
  font-weight: normal;
  line-height: 120%;
  color: #ffffff49;
}
.c-n-1 {
  color: #ffffff40;
}
.c-n-2 {
  color: #6c505b;
}
.c-n-3 {
  color: #9f97ff;
}
.c-n-4 {
  color: #b60303;
}
.black_c {
  color: black;
}
.counts__item_1 {
  font-size: 120px;
  line-height: 120%;
  margin-bottom: 86px;
}
.counts__item_2 {
  font-size: 86px;
  line-height: 120%;
  margin-bottom: 86px;
}
.counts__item_3 {
  font-size: 86px;
  line-height: 120%;
  margin-bottom: 96px;
}
.counts__item_4 {
  font-size: 86px;
  line-height: 120%;
  margin-bottom: 96px;
}
/*  */
.top__artists {
  margin-bottom: 120px;
}
.music__styles {
  display: flex;
  margin-bottom: 32px;
}
.music__styles > p {
  border-radius: 32.81px;
  background-color: #252525;
  padding: 7.29px 26.5px;
  font-size: 16px;
  line-height: 23.1px;
}
.music__styles > p:not(:last-child) {
  margin-right: 13px;
}
.artists__img {
  height: 842px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.artists__img > img {
  width: 266px;
  height: 408px;
}
/*  */
.festival__genres {
  margin-bottom: 120px;
}
.f__g {
  display: flex;
}
.f__g div {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  height: 78px;
  border-radius: 20px;
  padding: 24px 0 0 31px;
}
.f__g p {
  font-size: 16px;
  line-height: 118.5%;
  font-weight: bold;
}
.f__g div:not(:last-child) {
  margin-right: 24px;
}
.f__g div:nth-child(1) {
  background-color: #1d5b2e;
}
.f__g div:nth-child(2) {
  background-color: #24327b;
}
.f__g div:nth-child(3) {
  background-color: #4e1d5b;
}
.f__g div:nth-child(4) {
  background-color: #5b421d;
}
.f__g div:nth-child(5) {
  background-color: #5b251d;
}
.f__g div:nth-child(6) {
  background-color: #1e1d5b;
}
.f__g span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
/*  */
.our__partners {
  margin-bottom: 110px;
}
.our__partners > div {
  display: flex;
  justify-content: space-between;
}
.our__partners p {
  font-size: 20px;
  line-height: 150%;
  width: 552px;
}
.our__partners table {
  width: 1429px;
  height: 298px;
  border-radius: 24px;
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;
}

.our__partners td {
  border: 1px solid #676767;
  width: 285.8px;
  height: 149px;
}
.our__partners tr:last-child td:first-child {
  border-bottom-left-radius: 24px;
}
.our__partners tr:last-child td:last-child {
  border-bottom-right-radius: 24px;
}
.our__partners tr:first-child td:first-child {
  border-top-left-radius: 24px;
}
.our__partners tr:first-child td:last-child {
  border-top-right-radius: 24px;
}
/*  start 13:14 04.03.24*/
footer {
  height: 585px;
  box-sizing: border-box;
  background-color: #242424;
  padding-top: 92px;
}
footer h2 {
  font-size: 48px;
  line-height: 120%;
  font-weight: bold;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.form__box {
  margin: 54px auto 86px;
  width: 974px;
  height: 176px;
  box-sizing: border-box;
}
footer form {
  border: 1px solid rgb(10, 245, 10);
  margin: 0 0 49px 108px;
  width: 724px;
  height: 64px;
}
footer p {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 0.97);
}
.white__stroke__footer {
  width: 1824px;
  height: 1px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
}
footer ul {
  list-style: none;
}
.f_a_1,
.f_a_2,
.f_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_a_1 {
  width: 610px;
  height: 21px;
  margin: 46.77px 146px 0 48px;
}
.f_p {
  width: 312.06px;
  height: 31.84px;
  margin-top: 44px;
  margin-right: 510px;
}
.f_a_2 {
  width: 245px;
  height: 23.88px;
  margin-top: 46.76px;
}
.f_a_1 a,
.f_a_2 a {
  font-size: 14px;
  line-height: 150%;
}
.f_a_1 a {
  color: rgba(255, 255, 255, 0.6);
}
.f_a_1 li:first-child a {
  text-decoration: none;
}
.f_d_f {
  display: flex;
}
